.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12.5rem
}

/* NavbarCategories */
.navbar-categories-container {
    display: flex;
    justify-content: space-evenly;
}

.navbar-category {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 3.5rem 2rem;
    border: none;
}

.navbar-category.active {
    border-bottom: 3px solid var(--green);
    color: var(--green);
    font-weight: 600;
}

/* logo */
.navbar-brand-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* controls */
.navbar-controls-container {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

/* CurrencySelector */
.currency-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    gap: 1.25rem;
    position: relative;
}

.currency-selector-container:hover {
    cursor: pointer;
}

.currency-selector-symbol {
    Font-style: Medium;
    Font-size: 2.25rem;
    Line-height: 3.75rem;
}

.currency-selector-dropdown {
    position: absolute;
    width: 14.5rem;
    top: 3.5rem;
    left: 0; 
    z-index: 8;
    padding: 2.5rem 5rem 2.5rem 0
}

.currency-selector-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    Font-style: Medium;
    Font-size: 2.25rem;
    Line-height: 3.75rem;
    margin: .5rem 1.5rem .5rem 0;
}

.currency-selector-item:hover > * {
    color: var(--green);
    cursor: pointer;
}

/* ShoppingCartIndicator */
.shopping-cart-indicator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.shopping-cart-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart-indicator {
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    background-color: var(--dark);
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 60px;
    bottom: 1.2rem;
    left: 1.2rem;
}

/* ShoppingCartOverlay */
.shoppingCart-overlay-container{
    position: absolute;
    z-index: 8;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 6rem;
    right: -3.5rem;
    padding: 4rem 2rem;
    width: 40.5rem;
    height: 84.5rem;
}

.shoppingCart-overlay-heading {
    font-size: 2rem;
    Line-height: 3.2rem;
    margin-bottom: 4rem;
}

.shoppingCart-overlay-heading-bolder{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.shoppingCart-overlay-heading-bolder > span {
    font-weight: 500;
}

.shoppingCart-overlay-image-container{
}
.shoppingCart-overlay-image-container > *{
    width: 50px;
    height: 50px;
    object-fit: contain;
}