.category-products {
  font-family: "Raleway", sans-serif;
}

.category-heading {
  margin-bottom: 12.5rem;
  font-size: 5.2rem;
}

.category-products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 48.25rem);
  grid-template-rows: repeat(auto-fill, minmax(55.5rem, 65rem));
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.category-product {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.category-product.active {
  -webkit-box-shadow: 0px 4px 39px 13px rgba(168, 172, 176, 0.66);
  -moz-box-shadow: 0px 4px 39px 13px rgba(168, 172, 176, 0.66);
  box-shadow: 0px 4px 39px 13px rgba(168, 172, 176, 0.66);
}

.category-product:hover {
  -webkit-box-shadow: 0px 4px 39px 13px rgba(168, 172, 176, 0.66);
  -moz-box-shadow: 0px 4px 39px 13px rgba(168, 172, 176, 0.66);
  box-shadow: 0px 4px 39px 13px rgba(168, 172, 176, 0.66);
}

.category-product > * {
  text-decoration: none;
}

.category-product-image {
  object-fit: cover;
  width: 100%;
  height: 41.25rem;
  margin-bottom: 3rem;
}

.category-product-info-container {
  font-size: 2.2rem;
  line-height: 3.5rem;
}

.category-product-name {
  font-size: 2.25rem;
  font-weight: 300;
}

.category-product-price {
  font-weight: 500;
  font-size: 2.25rem;
}

.category-product-add-button {
  position: absolute;
  background-color: var(--green);
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 3.8rem;
  bottom: 9rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.category-product-add-button:hover {
  transform: scale(140%);
}

.category-product-outOfStock-overlay-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  opacity: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-product-outOfStock-overlay {
  font-size: 3rem;
  line-height: 4.75rem;
}

.category-product-details-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.category-product-details-button {
  position: absolute;
  right: 2rem;
  top: 2rem;
  border: none;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.category-product-details-button:hover {
  color: var(--green);
}

.category-product-attributes-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.category-product-attributes-wrapper > button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  background-color: inherit;
}

.category-product-attributes-wrapper > button:hover {
  color: var(--green);
}

.category-product-container {
  margin-top: 4rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.category-product-name-container {
  margin-bottom: 2rem;
}

.category-product-name-brand {
  font-size: 3rem;
  font-weight: 600;
}

.category-product-attributes-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.category-product-attribute-name {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.75px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.category-product-attribute-values-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.category-product-attribute-value {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--dark);
  font-family: source-sans-pro, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.category-product-attribute-value.active {
  background-color: var(--dark);
  color: white;
}

.category-product-attribute-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
}

.category-product-attribute-wrapper.active {
  border: 2px solid var(--green);
}

.category-product-attribute-color {
  width: 2rem;
  height: 2rem;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.category-product-price-heading {
  font-size: 2.25rem;
}

.category-product-button-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.category-product-button {
  width: 19rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--green);
  margin: 3rem 0 0.25rem 0;
  border: 2px solid;
  transition: all 0.3s ease-in-out;
}

.category-product-button:hover {
  color: var(--green);
  background-color: white;
  border: 2px solid var(--green);
}

.category-product-warning {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--green);
}
