.main-content-container {
  position: relative;
}

.category-product {
  position: relative;
}

.category-product-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-product-overlay-text {
  font-size: 3rem;
  color: black;
}

input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

label {
  cursor: pointer;
}

.product-details-info-attribute-value {
  min-width: 1px;
  min-height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
}

.product-details-info-attribute-color {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.product-details-info-attribute-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details-info-attribute-values-container {
  align-items: center;
  display: flex;
  gap: 15px;
}

.category-container {
  position: relative;
}

.category-overlay {
  position: absolute;
  background-color: rgba(57, 55, 72, 0.22);
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
}

.bolder {
  font-weight: bolder;
}
